{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="en">
<!-- Last updated: {{ node.published_at.value|date('F d, Y') }} | created with Grav -->
<head>
{% block head %}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=no">
<title>{% if header.title %}{{ header.title|e('html') }} – {% endif %}{{ site.title|e('html') }}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
{% include 'partials/metadata.html.twig' %}
<link rel="manifest" href="/user/themes/luke/includes/site.webmanifest">
<link rel="icon" type="image/png" sizes="192x192" href="https://lukefrancke.de/user/themes/luke/images/touchicon.png">
<link rel="apple-touch-icon" type="image/png" sizes="192x192" href="https://lukefrancke.de/user/themes/luke/images/touchicon.png">
<link rel="icon" href="/user/themes/luke/images/favicon-pre.ico" type="image/x-icon">
<link rel="icon" type="image/png" href="/user/themes/luke/images/favicon-pre.ico">
<link href="/user/themes/luke/css/main.css?ver=4.6.17" rel="stylesheet">
<script defer src="/user/themes/luke/js/main.js?ver=1.2"></script>
<!-- If you're reading this: We need more privacy - now! -->
<link rel="canonical" href="{{ page.url(true)|e }}">
{% endblock head%}
</head>
<body>
<header>
<h1 class="header-logo"><a href="/">Luke Francke</a></h1>
<div onclick="navmenu()" class="navmenu-btn">Menu</div>
</header>
<div id="navmenu" class="navmenu-content">
<div onclick="navmenu()" class="navmenu-btn">Close</div>
<div class="navmenu-links">
<a href="/"><span {% if page.home %}class="active" {% endif %}>Home</span></a>
<a href="/about"><span {% if uri.path== '/about' %}class="active" {% endif %}>About</span></a>
<a href="/showcase"><span {% if uri.path== '/showcase' %}class="active" {% endif %}>Showcase</span></a>
<a href="/journal"><span {% if uri.path== '/journal' %}class="active" {% endif %}>Journal&nbsp;(7)</span></a>
</div>
<a class="search-link" href="/search"><svg class="nav-icon" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" fill="none" stroke="#232323" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg></span></a>
</div>
<main>
{% block content %}
{% endblock %}
</main>
{% include 'partials/footer.html.twig' %}
</body>
</html>
