<footer>
<a class="top-arrow" href="#top"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24" fill="none" stroke="#4f4f4f" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="19" x2="12" y2="5"></line><polyline points="5 12 12 5 19 12"></polyline></svg></a>
{% include 'partials/sociallinks.html.twig' %}
<ul class="footer-list">
 <li><strong>Pages</strong></li>
 <li><a href="/about">About</a></li>
 <li><a href="/colophon">Colophon</a></li>
 <li><a href="/contact">Contact</a></li>
</ul>
<ul class="footer-list legal-list">
 <li><strong>Legal</strong></li>
 <li><a href="/docs/legal">Legal notice</a></li>
 <li><a href="/docs/privacy">Privacy policy</a></li>
</ul>
<p class="copy">&copy; 2021-{{ 'now' | date('Y') }} Luke Francke, proudly created with Grav</p>
</footer>
