<ul class="footer-list">
 <li><strong>Social</strong></li>
  <li><a href="https://www.cosmos.so/thisisluke">Cosmos</a></li>
 <li><a rel="me" href="https://hessen.social/@lmfra">Mastodon</a></li>
 <li><a href="https://music.apple.com/profile/lmfra">Apple Music</a></li>
</ul>
