<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="title" content="Luke Francke" />
<meta name="robots" content="noindex" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>404 not found - Luke Francke</title>
<link href="//lukefrancke.de/user/themes/luke/css/font.css?ver=2" rel="stylesheet">
</head>
<html>
<style>
body, html {
height: 100%;
margin: 0;
font-family: 'Plus Jakarta Sans', sans-serif;
-webkit-tap-highlight-color: transparent;
}
a {
color: #232323;
text-decoration: underline;
}
a:hover {
color: #232323;
text-decoration: none;
}
a:visited {
color: #232323;
text-decoration: underline;
}
a:active {
color: #232323;
text-decoration: underline;
}
.page {
background: #f8e9ff;
background: linear-gradient(90deg, hsla(207, 100%, 94%, 1) 0%, hsla(281, 100%, 96%, 1) 100%);
background: -moz-linear-gradient(90deg, hsla(207, 100%, 94%, 1) 0%, hsla(281, 100%, 96%, 1) 100%);
background: -webkit-linear-gradient(90deg, hsla(207, 100%, 94%, 1) 0%, hsla(281, 100%, 96%, 1) 100%);
height: 100%;
background-position: center;
background-size: cover;
color: #232323 !important;
font-size: 1.125rem;
}
.box {
position: absolute;
width: 85%;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
padding: 15px;
text-align: left;
border-radius: 7px;
background: transparent;
z-index: 999;
}
.button {
font-family: 'Plus Jakarta Sans', sans-serif;
appearance: none;
text-decoration: none !important;
color: #364737;
background: transparent;
border: 2px solid rgba(0,0,0,0.1);
padding: 6px 15px;
border-radius: 7px;
margin: 15px 0 15px 0;
display: block;
font-size: 1rem;
font-weight: 400;
letter-spacing: .25px;
-webkit-animation: text .5s .25s both ease-out;
}
.button a {
text-decoration: none !important;
}
.button:hover {
background: rgba(54, 71, 56, 0.2);
}
.center-button {
margin: 10px auto 10px auto;
padding: 5px 20px;
}
h1 {
font-size: 2.25rem;
color: #232323;
}
.strong {
font-weight: 600;
}
.grey {
color: #555353 !important;
}
@media only screen and (min-width: 720px) {
.box {
width: 50%;
}
h1 {
font-size: 3.75rem;
}
}
</style>
<body>
<div class="page">
  <div class="box">
      <h1>404</h1>
  <p class="strong space">Empty. <span class="grey">But full of possibilities.</span></p>
	<p>The page you are looking for is no longer here. Maybe it was never here in the first place. Please <a href="/search">search</a> for your topic, <a href="/contact">contact</a> me or return to home page.</p>  
	<button class="button"><a href="/">get back</a></button>
</div>
</div>
</body>
</html>
